# Ignore everything
*

# But not these files...
!.gitignore
!install.sh
!.vimrc
!.zshrc
!.zshenv
!.Xresources
!.tmux.conf
!*/.config/zsh/aliasrc
!*/.config/zsh/functionrc
!*/.config/zsh/antigen.zsh
!*/.config/zathura/zathurarc
