# Ignore everything
/*

# But not these files...
!.gitignore
!install.sh
# Configs
!.vimrc
!.zshrc
!.zshenv
!.Xresources
!.tmux.conf
!aliasrc
!antigen.zsh
!functionrc
!zathurarc
# Scripts
!wal.sh
!rofi.sh
# Misc
!shortcuts.md
