# Ignore everything
/*

# But not these files...
!.gitignore
!install.sh
# Configs
!.vimrc
!.zshrc
!.zshenv
!.tmux.conf
!aliasrc
!antigen.zsh
!functionrc
!zathurarc
!rc.conf
!.Xresources
!.alacritty.yml
# Scripts
!wal.sh
!rofi.sh
# Misc
!todo.md
!vim-info.md
